*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    box-shadow: rgba(233, 68, 68, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
}

input {
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}