*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: black;
    font: 700 2rem 'Montserrat';
    line-height: 400px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.box::before,

.box::after{
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -15px;
    left: -15px;
    background: linear-gradient(45deg, 
        yellow, green, rgb(70, 70, 245), indigo,
        purple, rgb(149, 23, 23), rgb(89, 62, 11), yellow, green, indigo);
    background-size: 300%;
    animation: border 20s linear infinite;
    
};

.box::after{
    filter: blur(80px);
}



@keyframes border{
    0%, 100% {
        background-position: 0 0;
    } 

    50% {
        background-position: 300%;
    }
}

